.negative-achievement-card {
    animation:
        breathing 5s infinite linear,
        borderGlow 3s infinite ease-in-out;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.02);
    }
    66% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes borderGlow {
    0% {
        box-shadow: 0 0 0px 0px rgba(0, 195, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 16px 4px rgba(0, 195, 255, 1);
    }
    100% {
        box-shadow: 0 0 0px 0px rgba(0, 195, 255, 0.7);
    }
}
