.animated-tooltip-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem; /* mb-10 */
    width: 100%;
}

.animated-tooltip-group {
    position: relative;
    margin-right: -1rem; /* -mr-4 */
}

.animated-tooltip-tooltip {
    position: absolute;
    top: -4rem; /* -top-16 */
    left: 50%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem; /* rounded-md */
    background: #000;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    font-size: 0.75rem; /* text-xs */
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
    transform: translateX(-50%);
    white-space: nowrap;
}

.animated-tooltip-tooltip .gradient1 {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -1px;
    z-index: 30;
    height: 1px;
    width: 20%;
    background: linear-gradient(
        to right,
        transparent,
        #10b981,
        transparent
    ); /* via-emerald-500 */
}

.animated-tooltip-tooltip .gradient2 {
    position: absolute;
    left: 10%;
    bottom: -1px;
    z-index: 30;
    height: 1px;
    width: 40%;
    background: linear-gradient(
        to right,
        transparent,
        #0ea5e9,
        transparent
    ); /* via-sky-500 */
}

.animated-tooltip-tooltip .name {
    position: relative;
    z-index: 30;
    font-size: 1rem; /* text-base */
    font-weight: bold;
    color: #fff;
}

.animated-tooltip-tooltip .designation {
    font-size: 0.75rem; /* text-xs */
    color: #fff;
}

.animated-tooltip-img {
    position: relative;
    margin: 0 !important;
    height: 3.5rem; /* h-14 */
    width: 3.5rem; /* w-14 */
    border-radius: 9999px; /* rounded-full */
    border: 2px solid #fff;
    object-fit: cover;
    object-position: top;
    padding: 0 !important;
    transition: transform 0.5s;
}

.animated-tooltip-group:hover .animated-tooltip-img {
    z-index: 30;
    transform: scale(1.05);
}
