:root {
    --text-shadow-hsl-h: 73;
    --text-shadow-hsl-s: 9.5%;
    --text-shadow-hsl-l: 71%;
    --text-shadow-hsl: 73 9.5% 71%;
}

/*NOTE: Limited availability as of 2025/01/13, thus not implemented*/
@function --set-text-shadow-hsl(
    --a: 1,
    --h: var(--text-shadow-hsl-h),
    --s: var(--text-shadow-hsl-s),
    --l: var(--text-shadow-hsl-l)
) {
    result: hsl(var(--h), var(--s), var(--l) / (var--a));
}

.link-wrapper {
    position: relative;
    /*display: inline-block;*/
    /*margin: 1rem 0;*/
    cursor: pointer;
}

.fallback {
    font-size: 0em;
    letter-spacing: 4px;
    line-height: 0;
    opacity: 0;
    position: relative;
    top: 15px;
    left: 0;
}

/* Shape wrapper for animated background shapes */
.shape-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    filter: sepia(50%) saturate(3);
}

.shape-wrapper.active {
    display: block;
    transform: rotate(-6deg);
}

.shape {
    transition: all 0.1s linear;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 30px;
    overflow: hidden;
}

.shape svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shape.cyan-fill {
    mix-blend-mode: screen;
    animation-delay: 0.05s;
    animation-duration: 0.4s;
}

.shape.red-fill {
    animation-duration: 0.45s;
    animation-delay: 0.08s;
    opacity: 0.8;
}

/* Hover effect on cyan fill */
.link-wrapper:hover .shape.cyan-fill {
    transform: scale(3, 0.1);
}

/* Image wrapper for the date box */
.img-wrapper {
    position: relative;
}

.p5DateBox {
    /*background: black;*/
    /*color: white;*/
    /*border: 3px solid white;*/
    /*border-radius: 0.5rem;*/
    /*padding: 1rem 2rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotate(-8deg);
    text-shadow:
        2.2px 2.2px hsl(var(--text-shadow-hsl) / 0.2),
        2.6px 2.6px hsl(var(--text-shadow-hsl) / 0.3),
        3px 3px hsl(var(--text-shadow-hsl) / 0.4);
    /*box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);*/
    /*font-family:
        "Bangers", "Luckiest Guy", "Comic Sans MS", cursive, sans-serif;*/
    position: relative;
    z-index: 999;
    width: auto;
    height: auto;
    transition: transform 0.15s ease;
}

[data-theme="dark"] .p5DateMonthDay {
    text-shadow:
        2.2px 2.2px hsl(var(--text-shadow-hsl) / 0.9),
        2.6px 2.6px hsl(var(--text-shadow-hsl) / 0.95),
        3px 3px hsl(var(--text-shadow-hsl) / 1);
}

.p5DateBox.hover-active {
    animation: tiltBounce 0.15s ease forwards;
}

.p5DateDay {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: -0.6rem;
    display: flex;
    align-items: center;
    line-height: 1;
    z-index: 3;
}

.p5Day {
    transform: rotate(2deg);
}

.p5DateStar {
    margin-left: 0.05rem;
    color: #ffd700;
    font-size: 2rem;
}

.p5DateMonthDay {
    font-size: 1rem;
    font-weight: bold;
    /*text-shadow:
        2px 2px 0 #fff,
        4px 4px 0 #000;*/
    line-height: 1;
    z-index: 2;
}

.p5Month {
    display: inline-block;
    transform: rotate(15deg);
}

.p5DateMonthDaySeparator {
    display: inline-block;
    transform: rotate(35deg) translate(0px, 12px);
    font-size: 1.4rem;
    margin-top: -0.3rem;
    margin-left: 0rem;
    z-index: 1;
}

.p5Date {
    display: inline-block;
    transform: translate(-6px, 5.5px);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0.5;
}
/* Hover state enhancement */
.link-wrapper:hover {
    z-index: 9999;
}

/* Jelly animation class */
.jelly {
    animation-name: jelly;
    transform-origin: center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Keyframe Animations */
@keyframes tiltBounce {
    0% {
        transform: scale(1) rotate(-7deg);
    }
    50% {
        transform: scale(1.5) rotate(-7deg);
    }
    100% {
        transform: scale(1.15) rotate(-7deg);
    }
}

@keyframes tiltBounceAlt {
    0% {
        transform: scale(1) rotate(7deg);
    }
    50% {
        transform: scale(1.5) rotate(7deg);
    }
    100% {
        transform: scale(1.15) rotate(7deg);
    }
}

@keyframes jelly {
    0% {
        width: 100%;
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(40deg)
            rotateY(10deg) rotateZ(-10deg);
    }
    50% {
        width: 100%;
        transform: scale(1.25, 1.1) skewX(-15deg) translateY(-2px)
            translateZ(-30px);
    }
    100% {
        width: 100%;
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(-40deg)
            rotateY(-10deg) rotateZ(-15deg);
    }
}
